<nav class="ui menu">
    <header class="ui header item"><a href="/"> Weather-Top </a></header>
    <div class="right menu">
        <a id="about" class="item" href="/about"> <span class="ui large blue button"> About </span> </a>
        <a id="signup" class="item" href="/signup" ><span class="ui large blue button"> Signup </span></a>
        <a id="login" class="item" href="/login"><span class="ui large blue button"> Login </span> </a>
    </div>
</nav>

<script>
    $("#${_id}").addClass("active item");
</script>