#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header"><span class="ui blue text">
    About Weather Top Web App
  </span></h1>
  <h3>
    This app provides you with the latest weather updates from your weather stations but also with
    a lot more features to give you as much information as you need.
   <ol>You are able to add stations. </ol>
    <ol> You are able to add readings.</ol>
    <ol> You are able to delete stations.</ol>
    <ol> You are able to delete readings</ol>
    <ol> View the latest readings at your stations </ol>
    <ol> View the history of your readings at your stations </ol>
    <ol> We convert all the raw data, so you do not have to </ol>


  </h3>
  <h1 class="ui header"><span class="ui blue text">
    About the Creators
  </span></h1>
  <h3>
    This app was created as an end of Term semester Project by student Ayodele Onamusi, under the supervision of:
    <ol> Mr. Eamonn Deleastar </ol>
    <ol> Mr. Colm Dunphy </ol>
    <ol> Mr. Peter Windle </ol>

    at South East Technical University, Waterford, Ireland, May 2022.
<br>
    <br>
    Languages and frameworks used : Java, html, css , semantic UI , play framework.
  </h3>
  <div class="column">
    <img class="ui larger image" src="public/images/weatherbackground.jpg">
  </div>
</section>