#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<section class="ui segment">
    <h2 class="ui header">
        ${station.stationName}
    </h2>
    <h4> latest reading code : ${latestReading?.code}</h4>
    <h4> latest reading Weather Condition : ${latestReading?.weatherCondition}</h4>
    <h4> latest reading temperature in Celsius : ${latestReading?.temperature}</h4>
    <h4> latest reading temperature in Fahrenheit : ${latestReading?.fah}</h4>
    <h4> min temperature : ${station?.minTemperature}</h4>
    <h4> max temperature : ${station?.maxTemperature}</h4>
    <h4> latest reading  WindSpeed: ${latestReading?.WindSpeed}</h4>
    <h4> min wind speed : ${station?.minWindSpeed} </h4>
    <h4> max wind speed : ${station?.maxWindSpeed}  </h4>
    <h4> latest reading  Wind in Beaufort: ${latestReading?.windInBeaufort} bft </h4>
    <h4> latest reading WindDirection : ${latestReading?.WindDirection}</h4>
    <h4> latest reading  Compass WindDirection : ${latestReading?.compassWindDirection}</h4>
    <h4> latest reading  Wind Chill : ${latestReading?.windChill}</h4>
    <h4> latest reading pressure : ${latestReading?.pressure}</h4>
    <h4> min pressure : ${station?.minPressure} </h4>
    <h4> max pressure :${station?.maxPressure} </h4>


   #{liststations station:station/}
    #{addreading station:station/}
</section>
